* {
    margin: 0;
    padding: 0;
}
a {
    text-decoration: none;
    color: #fff;
}
nav {
    background-color: #2189c0;
    color: #fff;
    height: 56px;
    padding: 0 50px;
    display: flex;
    justify-content: space-around;
}