* {
    margin: 0;
    padding: 0;
    font-family: '黑体';
    font-size: 14px;
}
ul, li {
    list-style: none;
}
a {
    text-decoration: none;
    color: #fff;
}
/*知乎收藏了这个问题，实现垂直居中的七个方法*/
nav {
    background-color: #2189c0;
    color: #fff;
    height: 56px;
    padding: 0 50px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
nav .logo {
    width: 36px;
    height: 36px;
    background-image: url('../img/logo.png');
}
nav form {
    margin-right: 50px;
    display: flex;
    height: 30px;
}
nav form input {
    width: 300px;
    height: 30px;
    border-top-right-radius: 30px;
    border-bottom-right-radius: 30px;
    border: none;
    margin-right: 30px;
    padding: 0 1em;
}
nav form .login {
    padding-left: 20px;
    line-height: 30px;
    display: inline-block;
    background-image: url('../img/login.png');
    background-repeat: no-repeat;
    background-position: left;
}
nav form button {
    width: 50px;
    border: none;
    border-bottom-left-radius: 30px;
    border-top-left-radius: 30px;
    background-image: url('../img/search.png');
    background-color: #ffffff;
    background-repeat: no-repeat;
    background-position: center;
}
.container {
    background-color: #eeeeee;
    min-width: 1280px;
}
/*------------------------start-profile------------------------*/
.container .profile {
    background-color: #2b2e3d;
    color: #515a6b;
    width: 265px;
    text-align: center;
}
.container .profile .portrait {
    display: flex;
    justify-content: center;
    padding: 1.5em;
}
.container .profile .portrait div {
    border: 1px white solid;
    border-radius: 60px;
    width: 60px;
    height: 60px;
    background-image: url('../img/Iverson.jpg');
    background-size: 62px;
    background-position: center;
}
.container .profile .portrait p {
    line-height: 62px;
    font-size: 16px;
    color: #fff;
    margin-left: 2em;
}
.container .profile .person .fans {
    display: flex;
    justify-content: center;
    margin: 20px auto;
}
.container .profile .person .fans div {
    padding: 0 40px;
}
.container .profile .person .fans div:first-child {
    border-right: 1px #464f60 solid;
}
/*------------------------start-filesystem------------------------*/
.container .profile .filesystem {
    text-align: left;
}
.container .profile .filesystem>ul ul {
    padding: 1em 2em;
}
.container .profile .filesystem>ul>li ul li {
    padding: 1em auto;
}
.container .profile .filesystem>ul>li {
    padding: 1em;
    padding-left: 3em;
}
.container .profile .filesystem>ul>li:hover {
    color: #fff;
    background-color: #373d4d;
}
.container .profile .filesystem>ul {
    list-style: circle;
}