* {
  margin: 0;
  padding: 0;
}
/*先主体后部分，先布局再细节，顺序结构*/
body {
  background: #dedede;
}
.container {
  width: 65%;
}
nav {
  background: lightslategrey;
  height: 60px;
  padding: 0 30px;
  width: auto;
}
#logo img{
  height: 100%;
}
nav ul {
  float: right;
  height: 100%;
  font-size: 12px;
}
nav ul li {
  display: inline-block;
  height: inherit;
  margin: 0 5px;
}
nav ul a {
  color: #ffffff;
  display: inline-block;
  height: 100%;
  /*垂直居中的办法就是line-height*/
  line-height: 60px;
  text-decoration: none;
  margin: auto 0;
}
article {
  background-color: #ffffff;
  margin: 20px;
  padding: 20px;
  box-shadow: 2px 2px 2px #333333;
}
article>img {
  margin: 1em;
  width: 40%;
}
hgroup h3, hgroup span {
  color: grey;
}
hgroup span {
  font-size: 10px;
}
article p {
  line-height: 1.5em;
  text-indent: 2em;
}
article ul {
  list-style: none;
  margin-left: 30px;
}
article ol {
  margin-left: 30px;
}
/*图片盒子的流式布局*/
#img {
  display: flex;
  flex-direction: row;
}
#imgbox div {
  display: inline-block;
  border: 1px solid #333333;
  height: 120px;
  margin: 10px;
  width: 120px;
  text-align: center;
}
#imgbox div img {
  width: 80%;
  margin: 20px auto;
}

table {
  border-collapse: collapse;
  font-size: 13px;
  text-align: left;
  width: 100%;
}
table, th, td{
  padding-left: 10px;
  border: 1px solid lightslategray;
}
table th {
  background: #333333;
  color: #ffffff;
}
tbody tr:last-child {
  background-color: grey;
}
/*-------------------------注册的边栏部分--------------------------*/
#register {
  display: inline-block;
  position: absolute;
  top: 60px;
  right: 0;
  width: 360px;
}
#register form {
  font-size: 12px;
}
#register h3 {
  border-left: 3px solid grey;
  height: 2em;
  line-height: 2em;
  padding-left: 1em;
}
#register div {
  margin: .5em;
}
/*盒子模式深刻理解*/
#register label {
  display: inline-block;
  width: 40%;
  text-align: right;
}
/*这里把label转换成了盒子元素，让文字向右对齐*/
#register span {
  color: darkgray;
  margin-left: 40%;
  padding: 4px;
}
#register input, #register select, #register textarea {
  vertical-align: middle;
  padding: 3px;
}
#register textarea {
  font-size: 16px;
  resize: none;
  vertical-align: top;
}
#register input[type='submit'] {
  background-color: royalblue;
  border: 1px solid royalblue;
  border-radius: 5px;
  color: #ffffff;
  display: block;
  font-size: 16px;
  height: 2em;
  width: 100%;
}
footer {
  background-color: #000000;
  display: block;
  height: 80px;
  color: #ffffff;
  text-align: center;
  line-height: 80px;
}